#printStruk {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

@page {
    size: 2.8in 11in;
    margin-top: 0cm;
    margin-left: 0cm;
    margin-right: 0cm;
}

#printStruk table {
    width: 100%;
}

#printStruk tr {
    width: 100%;

}

#printStruk h1 {
    text-align: center;
    vertical-align: middle;
}

#printStruk #logo {
    width: 60%;
    text-align: center;
    -webkit-align-content: center;
    align-content: center;
    padding: 5px;
    margin: 2px;
    display: block;
    margin: 0 auto;
}

#printStruk header {
    width: 100%;
    text-align: center;
    -webkit-align-content: center;
    align-content: center;
    vertical-align: middle;
}

#printStruk .items thead {
    text-align: center;
}

#printStruk .center-align {
    text-align: center;
}

#printStruk .bill-details td {
    font-size: 12px;
}

#printStruk .receipt {
    font-size: medium;
}

#printStruk .items .heading {
    font-size: 12.5px;
    text-transform: uppercase;
    border-top: 1px solid black;
    margin-bottom: 4px;
    border-bottom: 1px solid black;
    vertical-align: middle;
}

#printStruk .items thead tr th:first-child,
#printStruk .items tbody tr td:first-child {
    width: 47%;
    min-width: 47%;
    max-width: 47%;
    word-break: break-all;
    text-align: left;
}

#printStruk .items td {
    font-size: 12px;
    text-align: right;
    vertical-align: bottom;
}

#printStruk .price::before {
    content: "Rp";
    font-family: Arial;
    text-align: right;
}

#printStruk .sum-up {
    text-align: right !important;
}

#printStruk .total {
    font-size: 13px;
    border-top: 1px dashed black !important;
    border-bottom: 1px dashed black !important;
}

#printStruk .total.text,
.total.price {
    text-align: right;
}

#printStruk .total.price::before {
    content: "Rp";
}

#printStruk .line {
    border-top: 1px solid black !important;
}

#printStruk .heading.rate {
    width: 20%;
}

#printStruk .heading.amount {
    width: 25%;
}

#printStruk .heading.qty {
    width: 5%
}

#printStruk p {
    padding: 1px;
    margin: 0;
}

#printStruk section,
footer {
    font-size: 12px;
}